* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.container-fluid{
    padding-top: 5px;
}
img {
    width: 100%;
    height: auto;
}

.text-c{
 text-align: center;
}

.info p, .info a{
    text-align: right;
}

.top{
    margin-top: 10%;
    font-size: 2vw;
}

.info{
    padding-right: 0px;
    font-size: 1vw;
}

.side-nav{
    font-weight: bold;
    list-style: none;
    font-size: 12px;
    line-height: 20px;
}
.side-nav ul li, .footer ul{
    font-weight: normal;
    list-style: none;
    padding-left: 12px;
    line-height: 27px;
}
.side-nav a, .address a, .footer a{
    color: #545454;
}

.address a{
    border-bottom: 1px dashed blue;
}
.address a:hover, .address a:active{
    text-decoration: none;
    color: blue;
}
.address a:visited, .address a:focus{
    text-decoration: none;
}
.address{
    padding-right: 10px;
}
.bold{
    font-weight: bold;
}
p.bold:first-child{
    font-size: 1.3vw;
}
.form-inline .search-btn, .form-inline .search-place{
    font-size: 1.2vw;
    height: 2.5vw;
}
.form-inline{
    margin-right: 10px;
}
.nav li a{
    width: 100%;
}


.footer .col-sm-4{
    padding-left: 27px;
}
.footer ul {
    font-weight: normal;
    list-style: none;
    padding-left: 12px;
    line-height: 1.6vw;

}
.grey li:first-child a,.all-grey a{
    color: #999999;
    font-size: 18px;
}

.grey li:first-child{
    margin-bottom: 10px;
}
.footer .all-grey{
    line-height: 26px;
}
.address-footer{
    color: #999999;
    font-size: 14px;
    text-align: right;
}






@media screen and (max-width: 1099px){
    .navbar>ul.nav>li>a{
        padding-left: 5vw;
        padding-right: 4vw;
    }
}


@media screen and (min-width: 1100px) and (max-width: 1300px){
    .navbar>ul.nav>li>a{

        padding-left: 5.6vw;
        padding-right: 5vw;
    }
    .side-nav{
        font-weight: bold;
        list-style: none;
        font-size: 13px;
        line-height: 20px;
    }

    .side-nav ul li, .footer ul{
        font-weight: normal;
        list-style: none;
        padding-left: 12px;
        line-height: 27px;
    }

}

@media screen and (min-width: 1300px){
    .navbar>ul.nav>li>a{
        padding-left: 5.8vw;
        padding-right: 5.8vw;
    }
    .side-nav{
        font-weight: bold;
        list-style: none;
        font-size: 14px;
        line-height: 20px;
    }

    .side-nav ul li, .footer ul{
        font-weight: normal;
        list-style: none;
        padding-left: 12px;
        line-height: 27px;
    }

}

@media screen and (min-width: 0px) and (max-width: 970px){
    {
        display: none;
    }
}